:root {
  --green: #00FF00;
  --white: #FFFFFF;
  --black: #000000;
} /*:root는 html요소를 나타낸다*/

body{
    background: var(--bg);
    color: var(--fontColor);
    font-family: monospace;
}

ul{
    font-family: Helvetica;
}
/*body와 ul은 선택기, 스타일이 적용되는 요소를 선택한다.*/
/*예를 들어 ul은 <ul>요소에 적용되는 디자인이다*/

li {
    list-style: circle;
  }
  
  .list {
    list-style: square;
  } /*클래스 선택기이다. list로 설정된 클래스에 스타일 적용시킨다.*/
  
#msg {
  font-family: monospace;
} /*id 선택기이다. msg로 설정된 id에 디자인 적용*/

.light-theme {
  color: #000000;
  background: #00FF00;
}

.light-theme {
  --bg: var(--green);
  --fontColor: var(--black);
  --btnBg: var(--black);
  --btnFontColor: var(--white);
}
.dark-theme {
  --bg: var(--black);
  --fontColor: var(--green);
    --btnBg: var(--white);
  --btnFontColor: var(--black);
}

.btn {
  position: absolute;
  top: 20px;
  left: 250px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
}